<div class="container-fluid margin-container">

  <!--<div *ngIf="url === 'http://minotaria.net/base/apps/api/public/index.php/criteriosExito/todos/v3'">-->
  <div class="row">
    <div class="col-md-2">
      <div class="form-group col-form-label-sm">
        <select class="form-control form-control-sm" #selectElement (change)="changeUrl(selectElement.value)">
          <option *ngFor="let remoto of listaRemotos, let i = index" [value]="i">{{remoto.id}}</option>
        </select>
      </div>
    </div>
    <div class="offset-md-8 col-md-2">
      <strong>{{data?.notaria}}</strong> {{data?.fecha}}
    </div>
  </div>
  <!--</div>-->


  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item puntero" *ngFor="let sistema of data?.sistema, let i = index" role="presentation">
      <a class="nav-link" data-toggle="tab" role="tab" [attr.aria-controls]="sistema.nombre" aria-selected="true" [ngClass]="{'active': navActive === sistema.nombre}"
        (click)="select(i)">{{sistema.nombre}}</a>
    </li>
  </ul>

  <br>

  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade show active" id="{{navActive}}" role="tabpanel" [attr.aria-labelledby]="navActive + '-tab'">

      <div class="card-columns">


        <div *ngFor="let modulo of res" class="card bg-light puntero hoverable">
          <div class="card-body">

            <h4 class="card-title text-center">{{modulo.nombre}}</h4>
            <div class="row">
              <div [ngClass]="{'col': modulo.subModulos.length <= 2, 'col-md-6': modulo.subModulos.length > 2}" *ngFor="let item of modulo.subModulos">
                <p class="text-center"><small>{{item.subNombre}}
                    <button type="button" class="btn btn-link" triggers="mouseenter:mouseleave" ngbPopover="{{item.descripcion}}" popoverTitle="Descripción"
                      container="body">
                      <i class="fas fa-info-circle fa-xs"></i>
                    </button></small>
                </p>

                <div *ngIf="!porcentaje(item.valor, item.criterio).valor; else barDisable">
                  <div class="progress" style="height: 50px;">
                    <div class="progress-bar" [ngClass]="{'bg-danger': porcentaje(item.valor, item.criterio) <= 25, 'bg-warning': porcentaje(item.valor, item.criterio) <= 69, 'bg-primary': porcentaje(item.valor, item.criterio) <= 99, 'bg-success': porcentaje(item.valor, item.criterio) > 99}"
                      role="progressbar" [ngStyle]="{'width.%': 100 }" [attr.aria-valuenow]="porcentaje(item.valor, item.criterio)"
                      aria-valuemin="0" aria-valuemax="100">
                      <span class="h6 margin-progress"> {{porcentaje(item.valor, item.criterio)}}%
                        <span *ngIf="item.valor > item.criterio">
                          <i class="fas fa-plus-circle fa-sm"></i>
                        </span>
                        <br> {{item.valor}}/{{item.criterio}}</span>
                    </div>
                  </div>
                </div>

                <ng-template #barDisable>
                  <div class="progress" style="height: 50px;">
                    <div class="progress-bar bg-disable" role="progressbar" [ngStyle]="{'width.%': porcentaje(item.valor, item.criterio).porcentaje }"
                      [attr.aria-valuenow]="porcentaje(item.valor, item.criterio).porcentaje" aria-valuemin="0" aria-valuemax="100">
                      <span class="h6 margin-progress">
                        {{porcentaje(item.valor, item.criterio).mensaje}}
                      </span>
                    </div>
                  </div>
                </ng-template>

              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="row">
    <div class="col-md-1 text-left" (click)="showResponse()">
      <span *ngIf="!response; else otherIcon">
        <i class="far fa-eye fa-xs puntero"></i>
      </span>
      <ng-template #otherIcon>
        <i class="far fa-eye-slash fa-xs puntero"></i>
      </ng-template>
    </div>
  </div>

  <div *ngIf="response">
    <pre>Link local: {{url}}</pre>
    <pre>{{res | json}}</pre>
  </div>

</div>