<div class="container-fluid margin-container">

  <div class="row">
    <div class="col-md-2">
      <div class="form-group col-form-label-sm">
        <select class="form-control form-control-sm" #selectElement (change)="changeUrl(selectElement.value)">
          <option *ngFor="let remoto of listaRemotos, let i = index" [value]="i">{{remoto.id}}</option>
        </select>
      </div>
    </div>
    <div class="offset-md-8 col-md-2">
      <strong>{{data?.notaria}}</strong> {{data?.fecha}}
    </div>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Notaria</th>
        <th scope="col">Fecha</th>
        <th *ngFor="let columna of data?.columnas" scope="col" ngbPopover="{{columna}}" triggers="mouseenter:mouseleave" container="body"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let notaria of dataTable">
        <th scope="row">{{notaria.notaria}}</th>
        <td scope="row">{{notaria.fecha}}</td>
        <td *ngFor="let valor of notaria?.valores" class="default {{valor?.color}}" ngbPopover="{{valor?.mensaje}} {{valor?.valorActual}}/{{valor?.valorEsperado}}"
          triggers="mouseenter:mouseleave" container="body">
        </td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col-md-1 text-left" (click)="showResponse()">
      <span *ngIf="!response; else otherIcon">
        <i class="far fa-eye fa-xs puntero"></i>
      </span>
      <ng-template #otherIcon>
        <i class="far fa-eye-slash fa-xs puntero"></i>
      </ng-template>
    </div>
  </div>

  <div *ngIf="response">
    <pre>{{data | json}}</pre>
  </div>
</div>