<div class="container margin-container">

  <div class="row">
    <div class="col-md-2">
      <div class="form-group col-form-label-sm">
        <select class="form-control form-control-sm" #selectElement (change)="changeUrl(selectElement.value)">
          <option *ngFor="let remoto of listaRemotos, let i = index" [value]="i">{{remoto.id}}</option>
        </select>
      </div>
    </div>
    <div class="offset-md-8 col-md-2">
      <strong>{{data?.notaria}}</strong> {{data?.fecha}}
    </div>
  </div>

  <div class="row">
    <div class="card-columns">

      <div *ngFor="let grafica of lineChartData" class="card hoverable puntero">
        <div class="card-body">
          <h5 class="card-title">{{grafica[0].sistema | capitalizado}} <small class="text-muted">{{grafica[0].modulo | capitalizado}}</small></h5>

          <div style="display: block;">
            <canvas baseChart width="400" height="400" [datasets]="grafica" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
              [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>

        </div>
      </div>

    </div>
  </div>

</div>